@import "variaveis.less";
@import "mapas.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom8 {
    margin-bottom: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @fontFamily;
    list-style: none;
}

body {
    background-color: #colors[backgroundColor];
    color: @corTexto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    /* Adiciona espaçamento interno ao body */
}

.container {
    max-width: 100%;
    /* Ajusta o valor para torná-lo totalmente responsivo */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* Impede que a .container encolha mais do que necessário */
}

header {
    padding: 2rem;

    .profile-avatar {
        display: block;
        margin: 0 auto 1.8rem;
        border-radius: 50%;
        max-width: 100%;
        /* Ajusta o valor para ser responsivo */
        max-height: 150px;
    }
}

.profile-bio {
    text-align: center;

    &-name {
        font-size: 1.8rem;
        .marginBottom8();
        font-weight: 700;
        color: #ffdd59;

    }

    &-subtitle {
        font-size: 1.5rem;
        .marginBottom8();
        color: #ffdd59;

    }

    &-text {
        font-size: 1.2rem;

    }
}

.social-links {
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    width: 100%;
    margin: 20px auto;


    li {
        img {
            transition: all ease .3s;
            width: 35px;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}

.section-title {
    text-align: center;
    margin-top: 0.8rem;
    /* Ajusta a margem superior */
    padding-top: 1rem;
    color: #ffdd59;
    font-size: 1.5rem;
}

.projects-list {
    margin-top: 2rem;

    &-item {
        a {
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 0.7rem 1.2rem;
            margin-bottom: 1rem;

            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
            color: #colors[textColor2];

            border: 2px solid #colors[buttonColor];
            transform: perspective(1200px) translateZ(100px) rotateY(45deg);
            transition: transform 0.3s ease;
            /* Adiciona uma transição suave */

            &:hover {
                background-color: transparent;
                color: #colors[textColor];

                transform: scale(1.05);
                /* Adicione o efeito de rotação no eixo Y */
            }
        }
    }

    &-item2 {
        a {
            text-decoration: none;
            background-color: #colors[buttonColort];
            display: block;
            padding: 0.7rem 1.2rem;
            margin-bottom: 1rem;

            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
            color: #colors[textColor2];

            border: 2px solid #colors[buttonColort];
            transform: perspective(1200px) translateZ(100px) rotateY(-45deg);
            transition: transform 0.3s ease;

            &:hover {
                background-color: transparent;
                color: #colors[textColor];
                transform: scale(1.05);
            }
        }
    }

    &-item3 {
        a {
            text-decoration: none;
            background-color: #colors[buttonColorg];
            display: block;
            padding: 0.7rem 1.2rem;
            margin-bottom: 1rem;

            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
            color: #colors[textColor2];

            border: 2px solid #colors[buttonColorg];
            transform: perspective(1200px) translateZ(100px) rotateY(45deg);
            transition: transform 0.3s ease;

            &:hover {
                background-color: transparent;
                color: #colors[textColor];
                transform: scale(1.05);
            }
        }
    }
    &-item4 {
        a {
            text-decoration: none;
            background-color: #colors[buttonColory];
            display: block;
            padding: 0.7rem 1.2rem;
            margin-bottom: 1rem;

            text-align: center;
            font-weight: 700;
            font-size: 1.2rem;
            color: #colors[textColor2];

            border: 2px solid #colors[buttonColory];
            transform: perspective(1200px) translateZ(100px) rotateY(-45deg);
            transition: transform 0.3s ease;

            &:hover {
                background-color: transparent;
                color: #colors[textColor];
                transform: scale(1.05);
            }
        }
    }
}

.sectiontwo {
    margin-top: 40px;
    padding: 80px;
    background-color: azure;
}